*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #56d9ee;
    margin:0;
    padding:0;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

.main-container{
    background-color: #56d9ee;
    margin: 3% auto;
    width: 40%;
    padding: 2%;
}

.container{
    background-color: #fff;
    margin: 2% auto ;
    padding: 2%;
    width:60%;
    border-radius: 10px;
}

.header{
    margin: 2% auto;
    text-align: center;
}

.header-title{
    font-size: 40px;
    font-weight: 200;
}

.header-subtitle{
    font-size: 20px;
    font-weight:200;
}

form, fieldset{
    border: none;
}

form{
    margin: 2% auto;
    padding: 3;
    border: none;
    width: 100%;
}


#message, #message2{
    margin: 3% 0 0 15%; 
    color: red;
    font-size: 12px;
}

.input-div {
    position: relative;
    width: 100%;
    z-index: 1;
}

.validate-input {
    position: relative;
}


.mb {
    margin-bottom: 10px;
}

#userNameError, #userEmailError{
    position: absolute;
    top: 5px;
    right: 60px;
    font-size: 10px;
    color: red;
}


.user-info {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.2;
    color: #686868;
    display: block;
    width: 80%;
    background: #e6e6e6;
    height: 44px;
    box-shadow: 3px;
    color: #60deee;
    border: none;
    border-radius: 20px;
    padding: 0 20px 0 55px;
    margin: 10px auto;
}


.focus-input100 {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 44px;
    border-radius: 20px;
    padding: 0 20px 0 55px;
    box-shadow: 0px 0px 0px 0px;
    color: #60deee;
}


.symbol-input100 {
    font-size: 20px;
    color: #999999;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 40px;
    width: 50%;
    height: 100%;
    padding-left: 23px;
    padding-bottom: 5px;
    pointer-events: none;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}



.lnr {
        font-family: Linearicons-Free;
        font-style: normal;
        font-size: 20px;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
}

.password-field{
    position: relative;
}

.password-container input[type="password"],
.password-container input[type="text"]{
  width: 100%;
  padding: 12px 36px 12px 12px;
  box-sizing: border-box;
}

.fa-eye{
    position: absolute;
    top: 35%;
    right: 22%;
    cursor: pointer;
    color: lightgray;
}

.user-terms{
    margin: 2% auto 1%;
    width: 75%;
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}



.user-button{
    background-color: #5f5f62;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin: 2% auto 4%;
    padding: 2.5%;
    display: block;
    width: 68%;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.user-sign-in{
    margin: 0 auto;
    display: block;
    width: 60%;
    text-align: center;
}

.user-sign-in-text{
    font-size: 14px;
}

@media only screen and (max-width: 1440px){
    .main-container{
        width: 60%;
    }

    .symbol-input100{
        left: 40px;
    }
}
@media only screen and (max-width:800px){

    .main-container{
        width: 80%;
    }

    .container{
        width: 100%;
        padding: 3%;
    }

    .user-info{
        width: 90%;
    }

    .symbol-input100{
        left: 20px;
    }

    .user-terms{
        margin: 3% auto;
        width: 80%;
        line-height: 1.2;
    }

    button{
        width: 80%;
    }

    .user-sign-in{
        width: 75%;
        text-align: center;
    }

}

@media only screen and (max-width: 400px){
    
    .main-container{
        width: 100%;
    }
    .container{
        width: 100%;
    }
}
